<!DOCTYPE html>
<html>
    <head>
        <meta content="noindex, nofollow" name="googlebot">
        <meta content="noindex, nofollow" name="robots">
        <meta content="noindex, nofollow" name="AdsBot-Google-Mobile-Apps">
        <meta content="noindex, nofollow" name="AdsBot-Google">
        <meta content="noindex, nofollow" name=" AdsBot-Google-Mobile">
        <meta content="noindex, nofollow" name="  AdsBot-Google-Mobile">
        <meta content="noindex, nofollow" name="Mediapartners-Google">
        <meta content="noindex, nofollow" name="APIs-Google">
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link href="https://bootswatch.com/4/sketchy/bootstrap.min.css" rel="stylesheet"/> {% block stylesheets %}{% endblock %}
        <style>
            #logo {
                height: 8rem;

            }

            body {
                height: 2000px;
            }
            .navbar .navbar-brand {
                font-size: 30px;
            }
            .navbar .nav-item {
                padding: 10px 20px;
            }
            .navbar .nav-link {
                font-size: 20px;
                margin-left: 10px;
            }
            .fa-bars {
                color: white;
                font-size: 30px;
            }

            .manavbar {
                background: linear-gradient(rgba(238, 109, 4, 0.8), rgba(235, 3, 3, 0.8));
                border: none;

            }
           
            a.nav-link {
                color: white;
            }

            a.nav-link:hover {
                color: yellow;
            }
        </style>
    </head>

<body>
    <header>

        

            <nav class="navbar sticky-top navbar-expand-lg manavbar navbar-toggler">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img alt="logo" id="logo" src="/logo.jpg"></a>
                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-center">
                            <li class="nav-item active">
                                <a class="nav-link" href={{ path("home")}}> Accueil
                                    
                                        <span class="navbar-toggler-icon"></span>
                                    </a>
                                </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> </i>Notifications</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                    </i>Panier
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Créer une nouvelle commande</a>
                                    <a class="dropdown-item" href="#">Reprendre une commande non finalisée</a>

                                </div>
                            </li>
                            {# elements accessibles uniquement à au RA et au gestionnaire  #}
                                                {% if (is_granted('IS_AUTHENTICATED_FULLY') and (app.user.role >=1))%}
                            <li class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                    
                                    Commandes</a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item" href="/attente/attenteDeValidation">Voir mes commandes en attente de
                                                                                    validation</a>
                                    <a class="dropdown-item" href="/attente/historiqueRC">Historique des commandes passées</a>
                                </div>
                                {% endif %}
                                {# elements accessibles uniquement au gestionnaire  #}
                                                {% if (is_granted('IS_AUTHENTICATED_FULLY') and (app.user.role == 3))%}

                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       </i> Administration</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href={{ path("product.index")}}>Gestion du catalogue produit</a>
                                        <a class="dropdown-item" href={{ path("user.index")}}>Gestion des utilisateurs</a>
                                    </div>
                                </li>
                                {% endif %}
                                
                            <li class="nav-item">
                                    <a class="nav-link" href="{{ path('logout') }}">
                                        Déconnexion</a>
                                </li>
                                </li>
                                           
                        </ul>
                    </div>
                </div>
            </nav>
        </body>
    </header>
    {% block body %}{% endblock %}


    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block javascripts %}{% endblock %}
</html></body></html>
